@font-face {
    font-family: 'Futura New Book';
    src: url('FuturaNewBook-Reg.eot');
    src: local('Futura New Book Reg'), local('FuturaNewBook-Reg'),
        url('FuturaNewBook-Reg.eot?#iefix') format('embedded-opentype'),
        url('FuturaNewBook-Reg.woff2') format('woff2'),
        url('FuturaNewBook-Reg.woff') format('woff'),
        url('FuturaNewBook-Reg.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}