@font-face {
    font-family: 'Futura New';
    src: url('../font/FuturaNewMedium-Reg.eot');
    src: local('Futura New Medium Reg'), local('FuturaNewMedium-Reg'),
        url('../font/FuturaNewMedium-Reg.eot?#iefix') format('embedded-opentype'),
        url('../font/FuturaNewMedium-Reg.woff2') format('woff2'),
        url('../font/FuturaNewMedium-Reg.woff') format('woff'),
        url('../font/FuturaNewMedium-Reg.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
