html {
    color: #132233;
    font-family: 'Futura New Book';
}
.header_toasts {
    background: no-repeat url(../images/box.png) left, #FE485B;
    padding: 16px 48px;

}
body{
    background:white;
}
.header_toasts p {
    font-size: 14px;
    line-height: 100%;
    text-align: center;
    color: #FFFFFF;
}

.header_toasts {
    position: relative;
}

.close svg {
    position: absolute;
    right: 12px;
    top: calc(50% - 8px);
}

#nav-icon {
    width: 25px;
    height: 19px;
    margin: 0 0 0 20px;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;
    z-index: 100;
}

#nav-icon span {
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #000000;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

#nav-icon span:nth-child(1) {
    top: 0px;
}

#nav-icon span:nth-child(2),
#nav-icon span:nth-child(3) {
    top: 10px;
}

#nav-icon span:nth-child(4) {
    top: 20px;
}

#nav-icon.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
}

#nav-icon.open span:nth-child(2) {
    transform: rotate(45deg);
    background:#FFFFFF;
}

#nav-icon.open span:nth-child(3) {
    transform: rotate(-45deg);
    background:#FFFFFF;
}

#nav-icon.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
}
.header_bar {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 12px 16px 29px;
}

.nav_icon ul {
    display: flex;
}
.nav_icon li{
    height: 31px;
}
.nav_icon {
    display: flex;
    align-items:center;
}

.nav_icon>ul>li a {
    width: 31px;
    height: 31px;
    border-radius: 50%;
    background: #F2F2F2;
    display: inline-block;
    position: relative;
}

.nav_icon>ul>li svg {
    position: absolute;
    top: 10px;
    left: 10px;
}
.nav_icon li+li+li svg {
    top: 10px;
    left: 8px;
}

.nav_icon>ul>li:nth-child(2) {
    margin: 0 10px 0 5px;
}
.header_content {
    max-width: 1320px;
    background:no-repeat url(../images/MaskGroup1.png);
    margin:0 0 16px;
    background-size: cover;
    padding: 150px 23px; 
    background-position: top;
}
h1 {
    font-size: calc(22px + (49 - 22) * ((100vw - 360px) / (1320 - 360)));
    line-height: 100%;
    margin: 0 0 10px;
    width: 60%;
}
.header_content p {
    font-size: 12px;
    line-height: 14px;
    width: 50%;
}

.partners{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 47px;
}
h2{
    font-size:  calc(24px + (32 - 24) * ((100vw - 360px) / (1320 - 360)));
    line-height: 16px;
    margin-bottom:34px;
    margin-left: 24px;
    position: relative;
    display: inline-block;
    padding: 0 10px;
    background:#FFFFFF;
}
.container{
    position: relative;
}
.container::before{
    content:"";
    display: block;
    position: absolute;
    width: 100%;
    height: 1px;
    background: #E9EBEF;
    top: 10px;
    left: 0;
}
/*           Stars        */
.star-cb-group {
    font-size: 0;
    unicode-bidi: bidi-override;
    direction: rtl;
  }
  .star-cb-group * {
    font-size: 1rem;
  }
  .star-cb-group > input {
    display: none;
  }
  .star-cb-group > input + label {
    display: inline-block;
    overflow: hidden;
    text-indent: 100px;
    width: 0.8em;
    white-space: nowrap;
    cursor: pointer;
  }
  .star-cb-group > input + label:before {
    display: inline-block;
    text-indent: -100px;
    content: " ☆ ";
    color: #FD6A30;
  }
    .star-cb-group > input:checked ~ label:before,
    .star-cb-group > input + label:hover ~ label:before,
   .star-cb-group > input + label:hover:before {
    content: "★";
    color: #FD6A30;
    text-shadow: 0 0 1px #FD6A30;
    width:7px;
    height: 7px;
  }
  .star-cb-group > .star-cb-clear + label {
    text-indent: -100px;
    width:7px;
    height: 7px;
    margin-left: -0.5em;
  }
  .star-cb-group > .star-cb-clear + label:before {
    width: 0.5em;
  }
  .star-cb-group:hover > input + label:before {
    content: "☆";
    color: #FD6A30;
    text-shadow: none;
  }
  .star-cb-group:hover > input + label:hover ~ label:before,
  .star-cb-group:hover > input + label:hover:before {
    content: "★";
    color: #FD6A30;
    text-shadow: 0 0 1px #FD6A30;
  }
  
  #log {
    margin: 1em auto;
    width: 5em;
    text-align: center;
    background: transparent;
  }
  .star-cb-group{
    display: flex;
    flex-wrap: nowrap;
}
.reviews{
    display: flex;
    align-items: center;
    margin-bottom: 13px;
}
.reviews>a{
    margin:0 0 0 10px;
}
.reviews>svg{
    margin-left: 48%;
    display: inline-block;
}
.owl-carousel .owl-item>div{
    padding: 21px 14px 31px;
    border: 1px solid #D6D9E2;
    width: 160px;
    box-sizing: border-box;
}
 .owl-carousel .owl-nav{
    display: block !important;
    
}
.owl-item>div>span{
    position: absolute;
    color:#FFFFFF;
    border-radius:50%;
    font-size:10px;
    text-align: center;
    z-index: 20;
}
.owl-item picture{
    position: relative;
    text-align:center;
}
.owl-nav{
    position: absolute;
    top: -62px;
    right: 47px;
}
.owl-nav span{
    font-size: 26px;
    line-height: 10px;
    border-radius:50%;
    display: inline-block;
    padding:13px 15px 16px 14px;
    background: #FFFFFF;
    border: 1px solid #E9EBEF;
    
}
.owl-nav span:hover{
    color: #D31A1A;
    box-shadow: -4px 4px 10px #D1D9E6;
}
.owl-nav button+button span{
    margin-left: 10px;
    padding:13px 14px 17px 15px;
}
.owl-nav button+button span:hover{
    box-shadow: 4px 4px 10px #D1D9E6;
}
.new{
    padding: 9px 6px;
    background: #3C9348;
    top: 15px;
    left:15px;
}
.top{
    padding: 9px 6px 9px 7px;
    background: #132233;
    top: 50px;
    left: 15px;
}
.sale{
    background: #FE485B;
    top: 85px;
    left: 15spx;
    padding: 9px 4px 9px 3px;
}
.owl-carousels .owl-item img{
    margin: 0 20px 16px 11px;
}
.owl-carousel .owl-item img {
    margin: 0 auto;
}
h3{
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 12px 0;
}

.articl, .cart a {
    font-size: 10px;
    line-height: 12px;
    color: #8B8F9F;
}
.status_product{
    font-size: 8px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #3C9348;
}
.basket_shops{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.basket_shops p, .basket_shops span{
    font-size: 24px;
    line-height: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #34363B;
}
.basket_shops span{
    font-size: 16px;
}
.basket_shops{
    display: flex;
    justify-content: space-between;    
}
.new_product{
    margin-bottom: 50px;
}
.hit_product{
    margin-bottom: 43px;
}
.container_sale{
    padding: 41px 16px 59px;
    background: #F8F9FB;
    text-align: center;
    margin: 0 0 45px;
}
.container.container_sale::before{
    top: 50px;
}
.container_sale h2{
    background: #F8F9FB;
}
.container_sale img+img{
    margin: 10px 0 0;
}
.sale_product h2{
    color: #FE485B;
}
.sale_product h2::after{
    width: 67%;
}
.sale_product{
    margin: 0 0 60px;
}
.container_insta ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 60px;
}
.container_insta li{
    margin-bottom: 7px;
}
.container_insta {
    padding: 0 15px;
    text-align: center;
}
.container_insta h2{
    margin-left:0 ;
}
.container_insta p{
    font-size: 14px;
    line-height: 140%;
    color: #606A74;
    margin: 0 0 11px;
    text-align: left;
}
.container_insta a{
    font-size: 14px;
    line-height: 140%;
    color: #D31A1A;
    text-decoration: none;
    display: block;
    margin-bottom: 76px;
    text-align: left;
}

.container_form{
    background: #F8F9FB;
    padding: 19px 18px 13px 12px;
    text-align: center;
} h4{
    font-size: 20px;
    line-height: 120%;
    padding: 0 35px;
    margin: 0 0 19px;
}
h4::before{
    content:"";
    display: block;
    position: absolute;
    width: 5%;
    height: 1px;
    background: #E9EBEF;
    top: 50%;
    left: -8%;
}
.container_form p{
    font-size: 16px;
    line-height: 120%;
    margin: 0 0 19px;
}
.form-control{
    width: 100%;
    padding: 20px 0 20px 29px;
    box-sizing:border-box;
    background: #FFFFFF;
    border: 1px solid #E9EBEF;
    border-radius: 30px;
    color: #878F9A;
}

.btn{
    width: 48px;
    height: 48px;
    border-radius:50%;
    background: #233951;
    position: absolute;
    top: calc(50% - 24px);
    right: 5px;
    border: 1px solid #233951;
}
.searchform{
    position: relative;
    margin: 0 0 19px;
    border-bottom: 1px solid #E9EBEF;
}
.support ul,
.clients ul{
   text-align: left;
   padding-left: 20px;
}

.support ul a,
.clients ul a{
    font-size: 14px;
    line-height: 140%;
    color: #1B2C3F;
    text-decoration: none;
    display: inline-block;
    margin: 5px 0 5px 10px;
}
h5{
    font-size: 16px;
    line-height: 120%;
    padding: 12px 0 12px 20px;
    width: 93%;
    border: 1px solid #E9EBEF;
    border-radius: 100px;
    text-align: left;
    margin-bottom: 19px;
    position: relative;
}
h5:after{
    content:"";
    display:block;
    position:absolute;
    top: 50%;
    right: 35px;
    width: 10px;
    height: 2px;
    background: #1B2C3F;
    transform: rotate(45deg);
}

h5::before{
    content:"";
    display:block;
    position:absolute;
    top: 50%;
    right: 29px;
    width: 10px;
    height: 2px;
    background: #1B2C3F;
    transform: rotate(-45deg);    
}
.container_form>a,
.social_grup a{
    position: relative;
    display: inline-block;
    background: #FFFFFF;
    border: 1px solid #E9EBEF;
    border-radius:50%;
    width: 42px;
    height: 42px; 
}
.fb>svg{
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
}
.inst>svg{
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 9px);
}
.container_form img{
    float: left;
}
.clr{
    clear: both;
    display: block; 
}
.fb, .inst{
    float:right;
    margin-left: 10px;
}
.support .show{
    display: block;
}
.footer_contact {
    padding: 30px 21px 18px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
}
.footer_contact a{
    display:inline-block;
    padding-left: 20px;
    text-decoration: none;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #34363B;
    position: relative;
    margin-bottom: 10px;
}
.footer_contact span{
    font-weight: 600;
}
.footer_contact a::before{
    content:"";
    display: block;
    position: absolute;
    top: 4px;
    left: 1px;
    width: 13px;
    height: 13px;
    background:url(../images/phone.png);
}
.timeOn{
    display: flex;
    justify-content: center;
}
.timeOn p{
    margin-left:10px;
}
.email{
    text-align: center;
    display: block;
    margin-bottom: 16px;
}
footer{
    background: #F1F3F8;
    padding: 13px 15px 13px 26px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer p{
    font-size: 12px;
    line-height: 100%;
}
.visa{
    width: 58px;
     height: 24px;
    background: url('../images/css_sprites.png') -88px -10px;
    display: inline-block;
    margin-left: 5px;
    border-radius: 3px;
}
.mc{
    width: 58px; 
    height: 24px;
    background: url('../images/css_sprites.png') -10px -10px;
    display: inline-block;
    margin-left: 5px;
    border-radius: 3px;
}
#active{
    position: relative;
    display: inline-block;
    width: 55px;
    height: 28px;
   
}
input[type="checkbox"]{
    display: none;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#132233;
    transition: .4s;
    border-radius: 13.5px;
    font-size: 12px;
    text-align: center;
    line-height: 29px;
    color:#606A74;
  }
  
  .slider:before {
    position: absolute;
    content: "RU";
    text-align: center;
    line-height: 27px;
    font-size: 10px;
    height: 25px;
    width: 25px;
    border-radius: 13.5px;
    left: 1px;
    bottom: 1px;
    background-color: #FE485B;
    transition: .4s;
    color:#FFFFFF;
  }
  
  input:checked + .slider {
    background-color: #132233;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #132233;
  }
 
  #activ:checked ~ * .slider{
    background-color: #132233;
  }
  #activ:checked ~ * .slider:before{
    transform: translateX(26px);
    content:"UA";
    color:#FFFFFF;
  }
.header_nav{
    background: #0D1620;
    padding: 19px 15px 0;
}
.login{
    background: #132233;
    color:#FFFFFF;
    position: relative;
}
.dec_content .login::after{
    content:"/";
    display: block;
    position: absolute;
    top: 18px;
    right: 74px;
    color:#0D1620;
    font-weight:700;
}
.tell_nav{
    display: flex;
    flex-direction: column;
    position: relative;
}
.btn_tell::before{
    content:"";
    display: block;
    width: 6px;
    height: 1px;
    background:#FFFFFF;
    position: absolute;
    top: 4px;
    right: 2px;
    transform: rotate(45deg);
}
.btn_tell::after{
    content:"";
    display: block;
    width: 6px;
    height: 1px;
    background:#FFFFFF;
    position: absolute;
    top: 4px;
    right: -3px;
    transform: rotate(-45deg);
}
.info .tell_nav li .btn_tell{
    position: absolute;
    padding: 5px;
    display: inline-block;
    top: 2px;
    right: -25px;
}
.tell_nav a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 12px;
    line-height: 14px;
}
.tell_nav a svg{
    margin-right: 10px;
}
.hover_tel{
    display: none;
}
.show_tell{
    display: block;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 85%;
    z-index: 99;
}
nav::before{
    content:"";
    display: block;
    height: 100%;
    width: 120%;
    background: rgba(19, 34, 51, 0.58);
    backdrop-filter: blur(4px);
    position: absolute;
    z-index: -5;
}
.tell_nav span{
   font-weight: 600; 
}
.info{
    display:flex;
    justify-content: space-between;
}

.tell_nav li>a{
    display:flex;
    align-items: center;
}
.info p{
    font-size: 12px;
    line-height: 14px;
    color: #ADADAD;
}
.header_menu{
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 28px;
}
.login{
    display: flex;
    align-items: end;
    padding: 14px 0 15px 15px;
}
.login a{
    color:#FFFFFF;
    text-decoration: none;
    font-size: 12px;
    line-height: 150%;
    letter-spacing: 0.02em;
    margin-right: 35px;
    position: relative;
}
.login svg{
    margin-right: 8px;
}
.login a+a::before{
    content:"";
    display: block;
    height: 12px;
    width: 1px;
    background:#FFFFFF;
    position: absolute;
    top: 3px;
    left: -18px;
}
.nav{
    display: flex;
    flex-direction: column;
    padding: 33px 0 0 ;
    background:#FFFFFF;
}
.nav a{
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #262626;
    position: relative;
    padding: 0 0 0 15px;
    display: block;
    
}
.nav li{
    padding: 15px 0;
}
.categoria::before{
    content:"";
    display: block;
    width: 6px;
    height: 2px;
    background: #262626;
    position: absolute;
    top: 13px;
    right: 10%;
    transform: rotate(45deg);
}
.categoria::after{
    content:"";
    display: block;
    width: 6px;
    height: 2px;
    background: #262626;
    position: absolute;
    top: 17px;
    right: 10%;
    transform: rotate(-45deg);
}
.nav_ic{
    background: #F8F9FB;
    border: 1px solid #E5E9F1;
}
.nav .sale_cart{
    color:#FE485B;
}
.sale_cart::after{
    content:"%";
    color:#FE485B;
    display: block;
    position: absolute;
    top: 0;
    right: 10%;
}
.social_menu{
    padding: 30px 10px 25px 15px;
    background: #F1F3F8;
    position: relative;
}
.social_menu p{
    font-size: 14px;
    line-height: 140%;
    color: #1B2C3F;
}
.social_menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.show{
    display: block;
    width: 85%;
    height: 100%;
}
nav{
    display: none;
}
.about_use{
    display: none;
}
.show_info{
    display: block;
}
.header_dec_bar{
    padding: 0 20px;
    display: none;
}
.more_article{
    display: none;
}

.dec_content ul{
   display: flex;
}
.dec_content ul li{
    margin-right: 37px;
    padding: 13px 0;
}
.dec_content ul li a{
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;
    color: #132233;

}
.dec_content{
    display: flex;  
    justify-content: space-between;
    align-items:center;
}
.dec_content .login{
    background:none;
}
.dec_content .login a{
    color: #132233;
}

.searchForm{
    position: relative;
    margin: 0 0 19px;
}
.searchForm .form-control{
    background: #F8F9FB;
    border: 1px solid #E9EBEF;
    min-width: 310px;
    margin-top: 20px;
}
.btn_fin{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #E6EAF2;
    position: absolute;
    top: 25px;
    right: 5px;
    border: 1px solid #E9EBEF;
}
.nav_bar_dec .other{
    color: #FE485B;
}
.phone_nav{
    position: relative;
}
.phone_nav a{
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #34363B;
    text-decoration: none;
    margin:0 0 15px;
    display: inline-block;
    position: relative;
}
.phone_nav svg{
    position: absolute;
    top: 2px;
    left: -30px;
}
.phone_nav span{
    font-weight:600;
}
.btn_tel{
    padding: 5px;
    display: inline-block;
    position: relative;
    top: 12px;
    left: 20px;
}
.btn_tel::before{
    content:"";
    display: block;
    width: 6px;
    height: 1px;
    background: #132233;
    position: absolute;
    top: 4px;
    right: 2px;
    transform: rotate(45deg);
}
.btn_tel::after{
    content:"";
    display: block;
    width: 6px;
    height: 1px;
    background: #132233;
    position: absolute;
    top: 4px;
    right: -3px;
    transform: rotate(-45deg);
}
.hover_tell a{
    display: block;
}
.hover_tell{
    display: none;
    position: absolute;
    top: 45px;
    left: -50px;
    background:#FFFFFF;
    width: 230px;
    padding-left: 50px;
    box-sizing: border-box;
    border-radius: 7px;
    transition: all 5s ease-in;
}
.show_tel{
    display: block;
}
.hard{
    padding: 15px 16px 13px;
    background: #F8F9FB;
    display: block;
    margin-left: 55px;
    border-radius: 50%;
}
.cash_cart{
    padding: 16px 16px 14px 14px;
    background: #3C9348;
    display: inline-block;
    border-radius:50%;
    margin: 0 10px 0 0 ;
}
.cash{
    position: relative;
    width: 150px;
    height: 50px;
    background: #F8F9FB;
    border-radius: 25px;
    display: flex;
    margin-left: 13px;
}
.bye{
    position: absolute;
    top: 10px;
    left:29px;
    padding: 2px 5px 3px;
    background: #FE485B;
    font-size: 9px;
    color: #FFFFFF;
    border-radius:50%;
}
.cash span{
    font-size: 14px;
    line-height: 100%;
    color: #1B2C3F;
    display: block;
    margin-top: 7px;
}
.cash p{
    font-size: 16px;
    line-height: 100%;
    color: #1B2C3F;
    align-items:center;
}
.header_container{
    display: flex;
    align-items:center;
    justify-content: space-between;
}
.nav_dec{
    display: flex;
    align-items: center;
}
.nav_bar_dec{
    background: #F8F9FB;
    padding: 14px 5px;
    display: flex;
    justify-content: space-between;
    display: none;
}
.nav_bar_menu{
    display: flex;
}
.nav_bar_menu a{
    text-decoration: none;
    font-size: 12px;
    line-height: 150%;
    text-transform: uppercase;
    color: #34363B;
    display: block;
    margin-right: 35px;
}
.nav_bar_dec>a{
    font-size: 16px;
    line-height: 23px;
    color: #132233;
    text-decoration: none;
}
.footer_dec{
    max-width: 1320px;
    padding: 55px 15px 44px;
    display: flex;
    background: #F8F9FB;
    display: none;
    margin: 0 auto;
}
.phone_nav{
    margin: 20px 0 15px 30px;
}
.timeOnn{
    width: 180px;
    display: flex;
}
.timeOnn p{
    margin-left: 10px;
}
h6{
    font-size: 18px;
    line-height: 140%;
    color: #1B2C3F;
    font-weight: 600;
}
.forClient a, .footer_suport a{
    text-decoration: none;
    font-size: 14px;
    line-height: 140%;
    color: #1B2C3F;
    display: block;
    margin:0 0 10px;
}
.forClient h6, .footer_suport h6{
    margin:0 0 24px;
}
.nav_bar_dec>div{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: space-between;
}
.nav_bar_dec>div>a{
    text-decoration: none;
    color: #1B2C3F;
}
.feedback>p{
    font-weight: 600;
    font-size: 15px;
    line-height: 120%;
    color: #1B2C3F;
    margin-bottom: 21px;
}
.form{
    padding: 20px 260px 21px 23px;
    background: #FFFFFF;
    border: 1px solid #E9EBEF;
    border-radius: 30px;
}
.btn_fin_d{
    padding: 12px 23px 13px;
    border-radius: 30px;
    background: #233951;
    position: absolute;
    top: 4px;
    right:15px;
    color:#FFFFFF;
    border: 1px solid #233951;
    display: block;
    text-decoration: none;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.subscribe{
    position: relative;
    margin: 0 0 41px;
}
.icon_social, .icon_social ul{
    display: flex;
    align-items:center;
}
.icon_social>p{
    font-weight: 500;
    font-size: 18px;
    line-height: 140%;
    color: #1B2C3F;
    margin-right: 28px;
}
.icon_social a{
    display: block;
    margin-right:10px;
    background: #F8F9FB;
    border: 1px solid #E9EBEF;
    padding: 14px;
    border-radius:50%;
}
.icon_social li+li a{
    padding: 14px 18px;
}
.icon_social li+li+li a{
    padding: 12px 12px;
}
.icon_social a:hover{
    box-shadow: 5px 5px 20px #D1D9E6;
}
@media screen and (min-width:600px){
    .searchform, .footer_about{
        width: 70%;
        margin: 0 auto 20px;
    } 
    .footer_contact{
        justify-content: center; 
    }
    .footer_contact li{
        margin: 0 25px 20px;
    }
}
@media screen and (min-width:720px){
    .header_toasts>p{
        font-size: 18px;
    }
    .nav_icon a{
        margin: 0 15px;
    }
    .header_content p{
        font-size: 18px;
        line-height: 24px;
    }
    .owl-carousel .owl-item>div{
        width: 257px;
    }
    .header_content{
        background: url(../images/Mask\ Group.png);
        min-width: 720px;
        margin: 0 auto;
        background-repeat: no-repeat;
    }
    .container_insta>p{
        display: none;
    }
    .container_insta>p+p{
        display: block;
    }
}
@media screen and (min-width:992px) {
    .partners{
        justify-content: center;
    }
    h2{
        text-align: center;
    }
    .owl-item>div>span{
        font-size: 14px;
    }
    .header_bar{
        display: none;
    }
    .nav_bar_menu a{
        margin-right: 35px;
    }
    .header_dec_bar{
        display: block;
    }
    header{
        margin: 0 auto;
        min-width: 992px;
    }
    .container{
        padding-left: 20px;
        padding-right: 20px;
    }
    .container_insta ul{
        justify-content: space-evenly;
    }
    .container_form, .email{
        display: none;
    }
    .footer_dec{
        display: flex;
        justify-content: space-between;
    }
    .nav_bar_dec{
        display: flex;
    }
}
@media screen and (min-width:1200px) {
    
    .header_content p{
        font-size: 20px;
    }
    .nav_bar_menu a{
        margin-right: 55px;
    }
    .header_dec_bar{
        max-width: 1320px;
        margin: 0 auto;
    }
    .searchForm .form-control{
        width: 467px;
    }
    .container{
        max-width: 1320px;
        margin-left: auto;
        margin-right: auto;
    }
    .partners{
        flex-wrap: nowrap;
    }
    .header_content {
        background-size: cover;
        padding:150px 23px;   
    }
}
